.category-container {
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-container {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tablinks {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tablinks:hover {
    background-color: #ddd;
}

.tabcontent {
    display: none;
    padding: 20px;
    border-top: none;
}

.tabcontent:first-child {
    display: block;
}