.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1482b5;
  height: 100vh;
  width: 25%;
}

.header {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.image .img-user {
  border-radius: 50%;
  width: 35%;
}

.image p {
  font-weight: bold;
}

.menu-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
  width: 100%;
}

.menu {
  width: 100%;
  height: 80%;
}

.menu-links {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.nav-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 0.3s;
  width: 100%;
  height: 3em;
  margin-bottom: 1rem;
}

.nav-link:hover {
  background-color: #198dc3;
}

.nav-link a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 1em;
}

.nav-text {
  padding: 0.5rem;
}

.bottom-content {
  width: 100%;
  height: 10%;
}

.bottom-content li {
  text-align: left;
  transition: background-color 0.3s;
  list-style-type: none;
}

.bottom-content li:hover {
  background-color: #198dc3;
}

.bottom-content li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.bottom-links {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.bottom-nav-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 0.3s;
  width: 100%;
  height: 3em;
  padding-left: 1em;
}

.bottom-nav-link:hover {
  background-color: #198dc3;
}

.bottom-nav-link a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}