<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/boostrap/css/bootstrap.min.css">
  <script src="/js/boostrapJs/js/bootstrap.min.js"></script>
  <title>Juego</title>

  <link rel="stylesheet" href="/css/juegos/memoria/juegoMemoria.css">
</head>
<body>
<header>
  <div>
    <nav th:replace="plantillas/publicNav :: navegadorLogin"></nav>
  </div>
</header>
<div class="encabezado">
  <div><span>Juego de Memoria</span></div>
  <div>
    <span>Tiempo restante: <span id="tiempo"></span></span>
  </div>
  <div>
    <button id="iniciar" class="btn-juego">Iniciar</button>
    <button id="detener" disabled class="btn-juego detener">Detener</button>
    <button id="reiniciar" disabled class="btn-juego reiniciar">Reiniciar</button>
  </div>
</div>
<div class="container" id="tablero"></div>
<div id="perdiste" class="perdiste"><span>Fin del Juego, Perdiste</span></div>
<div id="ganaste" class="ganaste"><span>Felicidades <br />GANASTE!!!</span></div>
<script src="/js/parejas.js"></script>
</body>
</html>
