<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/interfazNav.css">
    <link rel="stylesheet" href="/css/interfazContenido.css">
    <link rel="stylesheet" href="/css/boostrap/css/bootstrap.min.css">
    <title>Usuario</title>
</head>
<body>

<main>

    <div class="container-fluid d-flex justify-content-center" style="min-height: 100vh; width: auto">
        <div class="row w-100">
            <div class="col-sm-12 col-md-3 col-lg-3 d-flex flex-column justify-content-center align-items-center">
                <nav th:replace="plantillas/interfazNav :: nav"></nav>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
                <!--Inicio de la interfaz de paciente o usuario-->
                <section id="contenidoInicioPaciente">
                    <div th:replace="plantillas/interfazContenidoPaciente :: inicioPaciente"></div>
                </section>
                <!--"Datos personales" de la interfaz de paciente o usuario-->
                <section>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" th:value="${genero}" disabled/>
                    </div>

                    <div th:include="plantillas/interfazContenidoPaciente :: datosPersonales"></div>
                </section>
            </div>
        </div>
    </div>
</main>

    <script src="/js/animacionesNavInterfaz.js"></script>
    <script src="/js/boostrapJs/js/bootstrap.bundle.min.js"></script>
</body>
</html>