@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #685cfe;
  --main-transition: 0.5s all ease-in-out;
}

body {
  background-color: white;
}
::selection {
  color: white;
  background: var(--main-color);
}
.Contenedor_Principal{
    position: absolute;
    width: 100%;
    height: 100%;
}
.sidebar {
  width: 100px;
  background-color: aqua;
  padding: 20px;
  position: absolute;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  transition: var(--main-transition);
  z-index: 30;
}
.sidebar:hover {
  width: 300px;
}
.sidebar .dots {
  width: 60px;
}
.sidebar .profile {
  width: 55px;
  height: 55px;
  border-radius: 15px;
  color: #fff;
  background-color: var(--main-color);
  display: grid;
  place-items: center;
  font-size: 25px;
  margin: 30px 0;
}
.sidebar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sidebar ul {
  padding-bottom: 30px;
  list-style: none;
}
.sidebar ul span {
  color: black;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  display: block;
  padding-bottom: 20px;
}

.sidebar ul li {
  display: flex; 
  align-items: center; 
  padding-left: 10px;
  transition: var(--main-transition);
}

.sidebar:hover ul li {
  padding-left: 0px;
}
.sidebar ul li a {
  padding: 10px;
  display: flex; 
  align-items: center; 
  gap: 10px;
  border-radius: 15px;
  transition: 0.3s all ease-in-out;
  font-size: 16px;
  width: 300px;
  color: black;
  font-weight: 500;
  text-decoration: none;
}
.sidebar:hover a {
  width: 100%;
}
.sidebar ul li a:hover {
  background-color: #ebf0fe;
  color: var(--main-color);
}
.sidebar ul li a ion-icon {
  font-size: 22px;
}
.sidebar ul li.noti a ion-icon {
  position: relative;
}
.sidebar ul li.noti a ion-icon::before {
  content: "";
  position: absolute;
  right: 0;
  background-color: #3761ee;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.sidebar ul li.likes a ion-icon {
  position: relative;
}
.sidebar ul li.likes a ion-icon::before {
  content: "";
  position: absolute;
  right: 0;
  background-color: #e45447;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.sidebar ul li a p {
  visibility: hidden;
  opacity: 0;
  transition: var(--main-transition);
}
.sidebar:hover ul li a p {
  visibility: visible;
  opacity: 1;
}
.sidebar ul li.switch-theme {
  position: relative;
}
.sidebar ul li.switch-theme button {
  background-color: #ddd;
  border: none;
  border-radius: 50px;
  height: 25px;
  width: 50px;
  padding: 5px;
  position: absolute;
  right: 30px;
  visibility: hidden;
  opacity: 0;
  transition: var(--main-transition);
}
.sidebar:hover ul li.switch-theme button {
  visibility: visible;
  opacity: 1;
}
.sidebar ul li.switch-theme button .circle {
  border-radius: 50%;
  background-color: #fff;
  height: 100%;
  width: 15px;
}

.dots img {
    border-radius: 60%;
}
.sidebar .profile {
    display: flex; 
    align-items: center; 
    width: 60px;
    margin-bottom: 20px; 
  }
  
  .sidebar .profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .sidebar .profile span {
    margin-left: 30px; 
    font-size: 16px; 
    color: black; 
  }

  span {
    margin: auto;
    font-size: 2rem;
  }
/*-------------------contenedor de contenido-----------*/

.Contenedor_contenido{
    position: absolute;
    width: 95%;
    height: 100%;
    margin-left: 68px;
    margin-right: 70px;
    background-color: black;
    z-index: 10;
}

.Carrusel{
    position: absolute;
    width: 80%;
    height: 300px;
    margin: 50px;
}
.Contenedor_Principal {
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
}
.container {
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
}
.row {
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.col {
flex-basis: 30%;
flex-grow: 1;
flex-shrink: 1;
margin: 10px;
}
.bg-black {
background-color: #333;
color: #fff;
}
.bg-info {
background-color: #4682b4;
color: #fff;
}
.Titulos {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 20px;
}
.Titulos h1 {
font-size: 36px;
font-weight: bold;
margin-bottom: 10px;
}
.Titulos h2 {
font-size: 24px;
font-weight: bold;
margin-bottom: 10px;
}
.Carrusel {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 20px;
}
.Carrusel .carousel {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 20px;
}
.Carrusel .carousel-inner {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 20px;
}
.Carrusel .carousel-item {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 2
