<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/estilos.css">
    <title>Footer</title>
</head>
<body>
<footer th:fragment="piePagina">
  <div class="Contenedor-footer">
    <div class="contenido-footer">
      <h4>Telefono</h4>
      <p>- 3057900789 <br>- 3223471839 <br>- 3015128281</p>
    </div>
    <div class="contenido-footer">
      <h4>Correo</h4>
      <p>usanbuenaventura@academia.usbbog.edu.co</p>
    </div>
  </div>
  <h2 class="titulo-final">&copy; ProyectTCE <br>| Juan Felipe Delgadillo Vanegas |<br>| Andres Felipe Castellanos Vanegas|<br>| Luz Adriana Moreno Cardoso|</h2>
</footer>
</body>
</html>