<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Paciente</title>
</head>
<body>
    <div class="cotainer" th:fragment="inicioPaciente">
        <div class="left-content">
            <div class="activities">
                <h1>Juegos populares</h1>
                <div class="activity-container"><!--Contenedor de juegos de inicio-->

                    <div class="image-container img-one">
                        <img src="/imagenes/juegos/parejas/iconoMemoria.png" alt="icono juego memoria"/>
                        <div class="overlay">
                            <h3>Memoria</h3>
                        </div>
                    </div>

                    <div class="image-container img-two">
                        <img src="/imagenes/Interfaz_juegos/torre_hanoi.PNG" alt="icono de juego torres de hanoi"/>
                        <div class="overlay">
                            <h3>Hanoi</h3>
                        </div>
                    </div>

                    <div class="image-container img-three">
                        <img src="/imagenes/Interfaz_juegos/iconoTubos.png" alt="icono del juego de splot liquid" />
                        <div class="overlay">
                            <h3>Splot liquid</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>