<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Plantillas de Nav y Footer</title>
</head>
<body>
<!-- Barra de navegación de la página principal-->
<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="navegador">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}">
      <img src="/imagenes/Logo.PNG" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Funny Mind
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/FunnyMind/index}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#quienes-somos">¿Quienes somos?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#que-es-tce">Nuestros servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#nosotros">Contactenos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/FunnyMind/logeo}">Ingresar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Barra de navegación de la página logeo-->
<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="navegadorLogin">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/FunnyMind/index}">
      <img src="/imagenes/Logo.PNG" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Funny Mind
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/FunnyMind/index}">Regresar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>