@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:wght@300;400;500;700&display=swap");

/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    background-image: url("../imagenes/Interfaz/fondoInterfaz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/*colocar el nav en una sola columna*/
#navLista{
    flex-direction: column;
}
@media screen and (min-width: 992px){
    .navbar .container-fluid, .navbar-expand-lg .navbar-collapse {
        flex-direction: column;
    }
    .navbar{
        height: 500px;
        margin-bottom: auto;
        margin-top: auto;
        border-radius: 20px 0 0 20px;
        font-family: "Roboto", sans-serif;
    }
    .navbar a{
        font-size: 1.5rem;
    }
}

@media (max-width: 991.98px) {
    .navbar {
        border-radius: 20px 20px 20px 20px !important; /* Asegura que se aplique también en pantallas pequeñas */
    }
}
/*estilos del nav*/

.navbar-nav .nav-link{
    color: white; /* Texto blanco por defecto */
    transition: color 0.3s ease; /* Transición suave de color */
}

.navbar-nav .nav-link:hover {
    color: #2FA9E1; /* Cambia el color a un azul claro al hacer hover */
}

#botonHamburguesa {
    background-color: rgba(255, 255, 255, 0.84); /* Fondo blanco para el botón */
    border: none;
}
