.left-content {
    display: grid;
    grid-template-rows: 50% 50%;
    background: rgba(246, 247, 251, 0.63);
    margin: 15px;
    padding: 20px;
    border-radius: 15px;
}

/* ACTIVITIES */

.activities h1 {
    margin: 0 0 20px;
    font-size: 1.4rem;
    font-weight: 700;
}

.activity-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 150px);
    column-gap: 10px;
}

.img-one {
    grid-area: 1 / 1 / 2 / 2;
}

.img-two {
    grid-area: 2 / 1 / 3 / 2;
}

.img-three {
    display: block;
    grid-area: 1 / 2 / 3 / 4;
}

.img-four {
    grid-area: 1 / 4 / 2 / 5;
}

.img-five {
    grid-area: 1 / 5 / 2 / 6;
}

.img-six {
    display: block;
    grid-area: 2 / 4 / 3 / 6;
}

.image-container {
    position: relative;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
    border-radius: 10px;
}

.image-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            180deg,
            transparent,
            transparent,
            rgba(3, 3, 185, 0.5)
    );
    border-radius: 10px;
    transition: all 0.6s linear;
}

.image-container:hover .overlay {
    opacity: 0;
}

.overlay h3 {
    margin-bottom: 8px;
    margin-right: 10px;
    color: #fff;
}