<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/css/boostrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/interfazContenido.css">
    <title>estadistica</title>
</head>
<body>

<main>
    <div class="container-fluid d-flex justify-content-center" style="min-height: 100vh; width: auto">
        <div class="row w-100">
            <div class="col">
                <canvas id="graficaJuegos" style="width: 100%; height: 400px;"></canvas>
            </div>
            <div class="col">
                <canvas id="graficaCategorias" style="width: 100%; height: 400px;"></canvas>
            </div>
        </div>
    </div>
</main>




    <script src="/js/estadistica/estadistica.js"></script>
    <script src="/js/animacionesNavInterfaz.js"></script>
    <script src="/js/animaciones.js"></script>
    <script src="/js/boostrapJs/js/bootstrap.bundle.min.js"></script>
</body>
</html>