<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/registro.css">
    <!--boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>logeo Funny Mind</title>
</head>
<body>
<header>
    <div>
        <nav th:replace="plantillas/barrasNavFooter :: navegadorLogin"></nav>
    </div>

</header>
<main>
    <div class="Contenedor_Registro ">
        <div class="bloque_formulario ">
            <div class="boton_formulario">
                <div id="elegir"></div>
                <button type="button" class="desliz-btn1" onclick="Login()" id="control1">Ingresar</button>
                <button type="button" class="desliz-btn2" onclick="Registrarme()" id="control2">Registrarme</button>
            </div>
            <div class="conten_Form">
                <form action="../conexion/login.php" method="post" class="formulario" id="Login">
                    <div class="Logo">
                        <img id="Icono" src="../imagenes/Logo.PNG" width="80" height="80" y="10"/>
                    </div>
                    <input type="text" name="usuario" placeholder="Correo" class="Users" >
                    <input type="password" name="contrasena" placeholder="Contraseña" class="Users" >
                    <input type="checkbox" class="check">
                    <!--Se necesita aprender a usar memoria cache-->
                    <label class="check_L1">Recordar contraseña</label>
                    <button type="submit" class="validar" name="login">Iniciar Sesión</button>
                </form>
                <form action="../conexion/registro.php" method="post" class="formulario" id="Registrarme">
                    <input type="text" name="primer_nombre" id="primer_nombre" placeholder="Primer nombre" class="Users" >
                    <input type="text" name="segundo_nombre" id="segundo_nombre" placeholder="Segundo nombre" class="Users" >
                    <input type="text" name="primer_apellido" id="primer_apellido" placeholder="Primer apellido" class="Users" >
                    <input type="text" name="segundo_apellido" id="segundo_apellido" placeholder="Segundo apellido" class="Users" >
                    <!--Se debe ajustar el formato de la fecha -->
                    <input type="date" name="fecha" placeholder="Fecha nacimiento" class="Users" >
                    <label>Genero</label>
                    <!--Se debe ajustar el formato de generos -->
                    <select name="genero">
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                    </select>
                    <input type="text" name="correo" id="correo" placeholder="Correo" class="Users" >
                    <input type="password" name="contrasena" placeholder="Asignar contraseña" class="Users" >
                    <!--Agregar elemento de rol-->

                    <label class="check_L2">Acepto los terminos y Condiciones.</label>
                    <div class="TyC">
                        <input type="checkbox" class="check">
                    </div>
                    <button type="submit" name="registrarse" class="validar">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="plantillas/barrasNavFooter :: piePagina"></footer>
    <!-- Scrip que se puede asignar al archivo JS  -->
    <script src="/js/animaciones.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>