.tablero {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 20px;
}

.cartas {
    background-color: #f4f4f4;
    border-radius: 8px;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}


